/ide/NetBeans/BIOS/nbproject/private

/ide/NetBeans/Kernel/nbproject/private

/ide/VCExpress2010/*.sdf

/ide/VCExpress2010/*.suo

/ide/VCExpress2010/*.user

/build/*.log
/test/*.log
/test/*.nvram
/test/bochsout.txt
/test/Logs
/test/*.vmsd
/test/*.vmxf
/test/*.vbox-prev

*.o

/bin/*.img
